.tweets-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  width: 100px;
  margin: 30px auto;
  text-align: center;
}
.tweet {
  border-top: solid black;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.tag {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
