.tweets-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  width: 100px;
  margin: 30px auto;
  text-align: center;
}
.tweet {
  border-top: solid black;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.tag {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  margin: 4px;
  background-color: rgb(150, 251, 150);
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s;

  &:hover{
   transform: translateY((-3px) scale(1.05));
   box-shadow: 0 8px 12px rgba(0,0,0,0.2);
   color: #fffa
  }
}

